%flex-container {
	@media screen and (min-width: $breakpointDesktop) {
		display: flex;
	}
}
.site-wrapper {
	@extend %flex-container;
}
.site-name {
	font-size: 2.5em;
}

.header-container {
	text-align: center;
	line-height: 2;
}

%flexed {
	flex: 1;
}

[role="banner"] {
	@media screen and (min-width: $breakpointDesktop) {
		flex-shrink: 0;
	}
}

[role="main"] {
	@extend %flexed;
}
.post-container {
	&:nth-of-type(2n) {
		background: $bodyBackgroundColour - 7.5;
	}
}
