.post {
	padding: $contentPadding;
	box-sizing: border-box;
	img {
		max-width: 100%;
	}
	&-title {
		font-size: 2.65em;
		font-weight: bold;
		margin: 0 0 0.5em 0;
	}
	&-content {
		line-height: $lineHeight * 1.15;
		font-size: $contentFontSize;
		font-size: calc(#{$contentFontSize} + 0.25vw);
		code, pre {
			font-family: "Source Code Pro", "Courier New", monospace;
		}
		pre {
			margin: 2em 0;
			overflow-x: auto;
		}
		p {
			font-size: $contentFontSize;
		}
		em, i, q {
			font-style: italic;
		}
		strong, b {
			font-weight: bold;
		}
		blockquote {
			margin: 1.5em 0;
			padding: 0 1.5em;
			box-sizing: border-box;
			border-left: 0.25em solid;
		}
		* {
			~ p {
				margin-top: 1em;
			}

			~ h1, ~ h2, ~ h3, ~ h4, ~ h5, ~ h6 {
				margin-top: 1em;
			}
		}

		ul, ol {
			padding: $contentPadding;
		}

		ul {
			list-style-type: circle;
		}

		ol {
			list-style-type: decimal;
		}

		h1, h2, h3, h4, h5, h6 {
			line-height: 1.6;
			font-weight: bold;
		}
		h1 {
			font-size: 215%;
		}

		h2 {
			font-size: 200%;
		}

		h3 {
			font-size: 190%;
		}

		h4 {
			font-size: 165%;
		}

		h5 {
			font-size: 150%;
		}

		h6 {
			font-size: 110%;
		}

		figure {
			margin: 1em;
		}

		figcaption {
			font-style: italic;
			margin-top: 1em;
			font-size: 85%;
		}
	}
}
