@import "_reset.scss";
@import "_type.scss";
@import "_post.scss";
@import "_layout.scss";
@import "_sidebar.scss";

body {
	background: $bodyBackgroundColour;
	color: $textColour;
	line-height: $lineHeight;
	font-family: $fontFamily;
	font-size: $fontSize;
}

@import "_print.scss";
